.filtroContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filtros{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

}

.teste{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;

}

